* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --main-font-styles: 600 1.2rem 'Montserrat', sans-serif;
}
.container {
    display: flex;
    width: 100%;
    height: 100vh;
}
.photo-container {
    display: flex;
}
.form-container {
    display: flex;
    flex-direction: column;
    padding: 120px 0px 120px 0px;
    background-color: rgb(250, 250, 250);
}
.introduction p {
    font: var(--main-font-styles);
    padding-right: 250px;
    margin-bottom: 25px;
}
.form-container > div{
    padding-left: 45px;
}
.body {
    background-color: white;
    padding: 10px 0px 40px 0px;
    box-shadow: 0 4px 8px -2px rgba(0, 0, 0, 0.2); 
}
form p {
    font: var(--main-font-styles);
}
label {
    display: block;
} 
input {
    display: inline-block;
}
.input-container {
    display: inline-block;
    margin-right: 85px;
}
input,
label {
  width: 200px;
}